/* 
--- 01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

  - Line heights:
Default: 1
Small: 1.05
medium: 1.2
Paragraph default: 1.6

- Letter spacing
- 0.5px
- 0.75px
--- 02 COLORS

- Primary: #e67e22
- Tints: #fdf2e9
- Shades: #cf711f
- Accents:#fae5d3
- Greys:
#555
#333

--- 05 SHADOWS

--- 06 BORDER_RADIUS

--- 07 WHITESPACE
- SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
      
      */

:root {
  --color-primary: #e67e22;
  --color-primart-lighter: #cf711f;
  --color-secondary: #fdf2e9;
  --color-body: #555;
  --color-white: #fff;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

}

/* ************************** */
/* GENERAL REUSABLE COMPONENTS */
/* ************************** */

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;

}

.grid-center-v {
  align-items: center;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);

}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);

}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);

}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;

  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-primart-lighter);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn:link,
.btn:visited {

  font-weight: 600;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;


}

.btn--full:link,
.btn--full:visited {
  background-color: var(--color-primary);
  color: var(--color-white);
  transition: all .3s;
}

.btn--full:hover,
.btn--full:active {
  background-color: var(--color-primart-lighter);
}

.btn--outline:link,
.btn--outline:visited {
  background-color: var(--color-white);
  color: var(--color-body);
  transition: all .3s;

}

.btn--outline:hover,
.btn--outline:active {
  background-color: var(--color-secondary);
  box-shadow: inset 0 0 0 3px var(--color-white);
}


.margin-right-sm {
  margin-right: 1.6rem;
}