@import './general.css';

/* ************************** */
/* HEADER */
/* ************************** */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secondary);
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

/* ************************** */
/* NAVIGATION */
/* ************************** */

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: var(--color-body);
  font-weight: 500;
  font-size: 1.8rem;
  transition: all .3s;
  display: inline-block;

}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--color-primart-lighter);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 10px;
  color: var(--color-white);
  background-color: var(--color-primary);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--color-primart-lighter);
}

/* ************************** */
/* HERO SECTION */
/* ************************** */
.section-hero {
  background-color: var(--color-secondary);
  padding: 4.8rem 0 9.6rem 0;
}

.hero-text-box {
  align-self: center;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
  padding: 0 3.2rem;

}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;

}

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;

}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;

  border: 3px solid var(--color-secondary);
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: var(--color-primart-lighter);
  font-weight: 700;
}

/* ****************************** */
/* FEATURED IN SECTION */
/* ****************************** */
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;

}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: .5;
}


/* ****************************** */
/* HOW IT WORKS SECTION */
/* ****************************** */

.section-how {
  padding: 9.6rem 0;

}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;

}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::after,
.step-img-box::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 50%;
}

.step-img-box::before {

  width: 60%;
  padding-bottom: 60%;
  background-color: var(--color-secondary);


}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
}

.step-img {
  width: 35%;
}